.gal1,.gal2,.gal3{
width: 200px;
height: 280px;
text-align: center;
padding: 30px;
}
figure img{
    width: 180px;
    height: 200px;
    transition: 0.3s;
    padding: 40px;
    float: left;
}
*{
    font-family: omid;
}
figcaption{
    border: 3px solid black;
    border-radius: 94px;
    background: #ffffff;
    box-shadow:  32px 32px 64px #757575,
                 -32px -32px 64px #ffffff;
    font-size: 14px;
    float: left;
    position: relative;
}
figure:hover img{
    transform: scale(1.1) ;
}
figure{
    padding: 20px;
    float: left;
}
